.carddata1{
    width: 50rem;
    margin-left: 240px;
    margin-top: 20px;
   
}
.cd1{
    height: 600px;
    width: 100%;
}

.ud1btn{
    width: 20%;
    margin-left: 600px;
}
.text{
    color:white;
}
